<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      href="/css/style.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>Document</title>
  </head>
  <body>
    <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters</h2>
    <!-- Mulai -->
    <div
      class="container"
      style="margin: 2rem"
    >
      <form action="/action_page.php">
        <div class="col">
          <div class="from-check">
            <input
              style="width: 1rem"
              type="checkbox"
              name="id"
              id="id"
            />
            <label for="id">ID :</label>
            <input
              style="margin-left: 40px; width: 30%; padding: 1rem; border: 1px solid black; border-radius: 5px"
              type="text"
              name="id"
              id="id"
              placeholder="Tulis ID"
              required
            />
          </div>
        </div>
        <!-- id -->
        <br />
        <!-- Akhir id -->
        <!-- String -->
        <div class="col">
          <div class="from-check">
            <input
              style="width: 1rem"
              type="checkbox"
              name="string"
              id="string"
            />
            <label for="string">String :</label>
            <input
              style="margin-left: 15px; width: 30%; padding: 1rem; border: 1px solid black; border-radius: 5px"
              type="text"
              name="string"
              id="string"
              placeholder="Tulis String"
              required
            />
          </div>
        </div>
        <br />
        <!-- Akhir string -->
        <!-- integer -->

        <div class="col">
          <div class="from-check">
            <input
              style="width: 1rem"
              type="checkbox"
              name="integer"
              id="integer"
            />
            <label for="integer">Integer :</label>
            <input
              style="margin-left: 10px; width: 30%; padding: 1rem; border: 1px solid black; border-radius: 5px"
              type="number"
              name="integer"
              id="integer"
              placeholder="Tulis Integer"
              required
            />
          </div>
        </div>
        <br />
        <!-- akhir integer -->
        <!-- float -->

        <div class="col">
          <input
            style="width: 1rem"
            type="checkbox"
            name="float"
            id="float"
          />
          <label for="Float">Float :</label>
          <input
            style="margin-left: 20px; width: 30%; padding: 1rem; border: 1px solid black; border-radius: 5px"
            type="number"
            name="float"
            id="float"
            placeholder="Tulis Float"
            step="0.005"
          />
        </div>
        <br />
        <!-- akhir float -->
        <!-- date -->

        <div class="col">
          <input
            style="width: 1rem"
            type="checkbox"
            name="date"
            id="date"
          />
          <label for="Date">Date :</label>
          <input
            style="margin-left: 20px; width: 10%; padding: 1rem; border: 1px solid black; border-radius: 5px"
            type="date"
            name="starDate"
            id="starDate"
            required=""
          />
          to
          <input
            style="width: 10%; padding: 1rem; border: 1px solid black; border-radius: 5px"
            type="date"
            name="endDate"
            id="endDate"
            required=""
          />
        </div>
        <br />
        <!-- akhir data -->
        <!-- Mulai boolean -->

        <div class="col">
          <input
            style="width: 1rem"
            type="checkbox"
            name="boolean"
            id="boolean"
          />
          <label for="boolean">Boolean :</label>
          <select
            style="width: 10%; padding: 6px"
            name="boolean"
            id="boolean"
          >
            <option>Pilih</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <br />
        <!-- akhir boolean -->
        <!-- Search -->
        <button
          style="background-color: #0284c7; color: #f2f2f2; padding: 6px 30px; border-radius: 5px; text-decoration: none; font-style: bold"
          type="submit"
          class="btn btn-primary"
        >
          Search
        </button>
        <br />
        <!-- akhir search -->
        <!-- Table -->
        <div class="container">
          <table id="customers">
            <thead>
              <tr>
                <th>ID</th>
                <th>String</th>
                <th>Integer</th>
                <th>Float</th>
                <th>Date</th>
                <th>Boolean</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((item, index)=>{%>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= item.strings %></td>
                <td><%= item.integers %></td>
                <td><%= item.floats %></td>
                <td><%= item.dates %></td>
                <td><%= item.booleans %></td>
                <td>
                  <a
                    href="/edit/<%= index %>"
                    class="edit"
                    >Edit</a
                  >
                  <a
                    href="/delete/<%= index %>"
                    class="delete"
                    >Delete</a
                  >
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <!-- Table -->
        <!-- Navbar -->
        <nav class="navbar">
          <div
            class="container"
            style="width: 3%; padding: 1px; border: 2px solid rgb(152, 149, 149); border-radius: 5px"
          >
            <span class="navbar-text">1</span>
            <span class="navbar-text">2</span>
            <span class="navbar-text">3</span>
          </div>
        </nav>

        <a
          style="background-color: #0284c7; color: #f2f2f2; padding: 6px 30px; border-radius: 5px; text-decoration: none; font-style: bold"
          href="/add"
          class="add"
          >Add</a
        >
      </form>
    </div>
    <!-- Akhir navbar -->
    <!-- akhir -->
  </body>
</html>
